VITE_S21_LOGIN=donyaelm
VITE_S21_PASSWORD=your_password

VITE_GOOGLE_SHEET_ID=your_google_sheet_id

VITE_GOOGLE_SHEET_GID_SETTINGS=853721947
VITE_GOOGLE_SHEET_GID_TAG_COLORS=1712792600
VITE_GOOGLE_SHEET_GID_CLUB_ASSETS=193652230
VITE_GOOGLE_SHEET_GID_SCHOOL_ADS=0